.dropdown-header{
    font-size: 15px;
    display: flex;
    justify-content: center;

}

/* #minavbar a{

} */
#navbarTitle{
    color: white;
}

/* .dropdown-item{
    display: inline-block;
    padding: 0px,
} */